<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<nav class="navbar navbar-lewagon bg-light">
  <span class="navbar-brand mb-0 h1 ms-4">
  <%= image_tag "movie-frame.png", width: 30 %>
  <span class="text-primary ms-2">WatchList</span>
  </span>
  <div class="me-3">
    <%= link_to "My lists", root_path, class: "btn btn-outline-primary me-3" %>
  </div>
</nav>

    <%= yield %>

  </body>
</html>
